@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

*{
    font-family: calibri;
}

.la-card-large{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-text{
    font-size: 16px;
}

.direction-left{
    font-size: 16px;
}

